<script type="text/javascript">
    let type = "WebGL"
    if(!PIXI.utils.isWebGLSupported()){
      type = "canvas"
    }

    PIXI.utils.sayHello(type)
</script>

<div id="pixi-canvas"></div>

<div class=container>

	<form class=mapDimensions [formGroup]="dimension_change">
		<label>Map Height</label>
		<input 
			type="text"
			id="height_change"
			formControlName="height_change"
			placeholder="100"
			NumbersOnly>
		<br>

		<label>Map Width</label>
		<input 
			type="text"
			id="width_change"
			formControlName="width_change"
			placeholder="100"
			NumbersOnly>
	</form>

	<div class=changeMapDimension>
		<button (click)="requestChangeDimensions()">Change</button>
	</div>

	<div class=buttons>
		<button>Save</button>
		<button>Upload</button>
		<br>
		<button>Go back to lobby</button>
	</div>

	<button (click)="goToRenderMode()">Go to rendermode</button>
	<button (click)="goToBlueprintMode()">Go to blueprint mode</button>
</div>
